<label for="Posts">Here The posts
<!-- some each -->
  <ul>
    <li> waaak</li>
    {{#each testsPosts}}
  <li>
  {{this}}
</li>
  {{/each}}
  {{#each goPosts}}
<li>
{{this}}
</li>
{{/each}}
{{#each stopPosts}}
<li>
{{this}}
</li>
{{/each}}
{{#each continuePosts}}
<li>
{{this}}
</li>
{{/each}}
</ul>
</label>
