<!DOCTYPE html>
<html>
<head>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section>
    <ul>
      <li></li>
    </ul>
  </section>
  <section class="form">
    <h1>{{> header }}</h1>
    <table id="SGC">
      <tr>
        <th>
          <a href="Stop" >
          Stop </a>
        </th>
        <th>
          <a href="Go">
          Go </a>
        </th>
        <th>
          <a href='Continue'>
          Continue </a>
        </th>
      </tr>
    </table>

        {{{body}}}

  </section>
</body>
</html>
